ol{
  list-style: none;
}
.class-center{
  display: flex;
  min-height: 80vh;
  width: 100%;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.menu-background{
  background: url("../assets/1xbg-pdbimg.png");
  height: 10em;
}
.logo-div{
  justify-content: center;
  display: flex;
}
.img-logo{
  height: 10em;
  width: auto;
}
.purple{
  color: #83579B;
}
.purple-ic{
  color: #83579B;
}
.purple-ic:hover{
  color: #764D8D;
}
.bluish{
  color: #6ABEBC;
}
.btn-secondary{
  background-color: #6ABEBC;
  border: none;
}
.btn-secondary:hover{
  background-color: #5BA7A5;
  border: none;
}
.btn-primary{
  background-color: #83579B;
  border: none;
}
.btn-primary:hover{
  background-color: #764D8D;
  border: none;
}
.bg-purple{
  background-color: #764D8D;
}
.bg-yellow{
  background-color: #FCD858;
}

.logo-nav{
  width: 9em;
  height: 4em;
}

.comment{
	margin: none;
	padding: 0;
}
.container-fluid{
  padding: 0;
}
.bg-pdb{
  background: url("../assets/bg-yellow-1x.png");
  height: 100vh;
}
.f-14{
  font-size: 1.4em;
}
.f-17{
  font-size: 1.7em;
}

.rating-stars ol {
  list-style-type:none;
  padding:0;
  
  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars ol > li.star {
  display:inline-block; 
}
.rating-stars ol > li.star.hover > i.fa {
  color:#FFCC36;
}
.rating-stars ol > li.star.selected > i.fa {
  color:#FF912C;
}
.faded {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  }

.faded:hover {
  opacity: 0;
  }
